* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
header {
	font-size: 2.5em;
	text-align: center;
}
footer {
	color: #aaa;
	text-align: center;
}
main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.table {
	border: 1px solid #111;
	text-align: left;
	width: 100%;
}
input[type="text"] {
	padding: 2px 5px;
}
a {
	color: #0074D9;
}
a:visited {
	color: #001f3f;
}
a:active, a:hover {
	color: #39CCCC;
}
.table > thead tr th {
	background-color: #7FDBFF;
}

.table > thead tr th a.clickable {
	cursor: pointer;
	color: #0074D9;
}

.table > thead tr th a.clickable:before {
	content: " | ";
	cursor: default;
	color: #000;
	text-decoration: none;
}
.verdict {
	text-transform: lowercase;
	white-space: nowrap;
	font-weight: bold;
}
.verdict.OK { color: #2ECC40 ;}
.verdict.WRONG_ANSWER { color: #FF4136 ;}
.verdict.TESTING { color: #AAAAAA ;}
.verdict.COMPILATION_ERROR { color: #FFDC00 ;}
.verdict.RUNTIME_ERROR { color: #39CCCC ;}
.verdict.TIME_LIMIT_EXCEEDED { color: #B10DC9 ;}
.verdict.MEMORY_LIMIT_EXCEEDED { color: #B10DC9 ;}

.tag {
	display: inline-block;
	margin: 2px;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	background-color: #888;
	padding: 0px 5px;
	font-size: .9em;
	white-space: nowrap;
}
#tag-list .tag,
#all_tag_list-container .tag {
	cursor: pointer;
}

#tag-list .tag:hover,
#all_tag_list-container .tag:hover {
	background-color: #aaa;
}

#tag-list .tag:active,
#all_tag_list-container .tag:active,
.tag.active {
	background-color: #aaa;
}

#tag-list .tag:after {
	content: " (\2A2F)";
}

#all_tag_list-container .tag:after {
	content: " (+)";
}
